<div class="col-md-4">
                    <div class="content-section">
                        <h3>Our Prominent Recruiters</h3>
                        <p class='text-muted'>We had a 25% surge in our recruitment in 2022.
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light"><a href="tcs.com">Tata Cosultancy Services</a></li>
                                <li class="list-group-item list-group-item-light"><a href="www.infosys.com">Infosys</a></li>
                                <li class="list-group-item list-group-item-light"><a href="www.wipro.com">Wipro</a></li>
                                <li class="list-group-item list-group-item-light"><a href="www.capgemini.com">Capgemini</a></li>
                            </ul>
                        </p>
                    </div>
                </div>


                <p>
        <b>Training </b>: The Cell organizes certain orientation programmes, grooming sessions, mock interview sessions for students of each stream. Besides, the Cell organizes various summer internship programmes for students to provide them with hands-on experience and introducing them to the professional environment.
        </p>



        <h1 class = "A">About the Placement Cell</h1>
    <body>
        <p>
        Training & Placement Cell compliments the efforts of the members of faculty by organizing value-addition programmes and providing placement opportunities to students. It acts as one of the major interfaces with the corporate sector and helps in developing the industry-academia inter-relationship.
        </p>

        <p>
        <b>Training </b>: The Cell organizes certain orientation programmes, grooming sessions, mock interview sessions for students of each stream. Besides, the Cell organizes various summer internship programmes for students to provide them with hands-on experience and introducing them to the professional environment.
        </p>
    </body>
    
    <h1>Hall of Fame</h1>
    
    <table border="1">
    <tr>
    <td>  
      <h3>Avanish Garg</h3>
      <p class="w3-opacity">Placed at Amazon 2019 batch
      <br><i> "I am immensely thankful to the Placement cell of HITK for providing me the opportunity to bag a package of 25lpa."</i></br></p>
    </td>
    </tr>  

    
      <tr>
        <td>
      <h3>Arijit singh</h3>
      <p class="w3-opacity">Placed at Google at 32.4lpa
      <br><i>"The HITK placement cell provided me the opportunity and I am thnkfull to it."</i></br></p>
        </td>
    </tr>
      
        
       <tr>
       <td> 
      <h3>Malini sethi</h3>
      <p class="w3-opacity">Placed at IBM 17.5 lpa
      <br><i>"The recruitment process was very smooth."</i></br></p>
        </td>
    </tr>

    <tr>
        <td>
      <h3>Md. Daanish </h3>
      <p class="w3-opacity">Placed at Goldman Sachs 22lpa
      <br><i>"HITK placement Cell is immensely helpfull and provide assistance everytime I needed."</i></br></p>

  </td>
</tr>