{% extends "home/base.html" %}

{% block content %}

    <script type="text/javascript">
       function able(){
            var anchor = document.getElementById('anchor');
            if({{post.yearOfpassing}}!={{user.profile.yearOfpassing}}){
                anchor.type="button";
                anchor.setAttribute("class", "btn btn-outline-secondary disabled");
                anchor.setAttribute("style", "color: black;");
                alert("Year of passing needed is {{post.yearOfpassing}}!");
            }
       }
    </script>

    <article class="media old-content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{post.companyWebsite}}" target="_blank">{{ post.companyName }}</a>
                <small class="text-muted">{{ post.datePosted }}</small>
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p>
                <em>Job role: </em><br>{{ post.jobRole }}<br><br>
                <em>Job description: </em><br>{{ post.description|linebreaks }}<br><br>
                <em>Last date to apply: </em><br>{{post.lastDateToApply}}<br><br>
                <em>Year of Passing: </em><br>{{post.yearOfpassing}}<br><br>
            </p>


            <form action="{{post.applyingLink}}">
                <input class="btn btn-outline-primary" type="submit" value="Apply Here" id="anchor" onclick="able()">
            </form>

    </article>
     
    <form method="POST">
        {% csrf_token %}

        <label for="comment">Add your comment here:</label><br>
        <!--<textarea rows="1" cols="50" name="comment" id="comment" style="max-width: 95%; color:black;" required>-->
        <input type="text" name="comment" id="comment" style="width: 50%;" required>
        <br><br>
        <button class="btn btn-outline-primary" type="submit">Add</button>

    </form>

    <br><br>
    <h2>Comments :</h2> 
    <br>
    {% for comment in comments %}
        <article class="media old-content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted mr-2">{{ comment.author.username }}</small>
                    <small class="text-muted">{{ comment.datePosted }}</small>
                </div>
                <h5>
                    <p>{{ comment.comment }}</p>
                </h5>
                    {% if user.id == comment.author.id %}
                        <div >
                            <a class="btn btn-outline-danger btn-sm float-right mt-1 mb-1" href="{% url 'pcomment-delete' post.id comment.id %}">Delete</a>
                            <a class="btn btn-outline-secondary btn-sm float-right mt-1 mb-1 mr-2" href="{% url 'pcomment-update' post.id comment.id %}">Edit</a>
                            
                        </div>
                    {% endif %}
            </div>
        </article>
    {% endfor %}
{% endblock content %}