{% extends "home/base.html" %}

{% block content %}
    <h1>Ask a Query!</h1>
    {% for query in queries %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted mr-2">{{ query.author }}</small>
                    <small class="text-muted">{{ query.datePosted }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'query-detail' query.id %}">{{ query.question }}</a></h2>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
