{% extends "home/base.html" %}

{% block content %}
    <h1 class="fst-italic text-lg-start p2">Ask a Query!</h1><h6>Click on query title to see detailed view</h6>
    <br>
    {% for query in queries %}
        <article class="media old-content-section p2">
            <div class="media-body">
                <div class="article-metadata p2">
                    <small class="text-muted mr-2">{{ query.author }}</small>
                    <small class="text-muted">{{ query.datePosted }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'query-detail' query.id %}">{{ query.question }}<br></a></h2>
            </div>
            <br>
        </article>
        <br>
    {% endfor %}
{% endblock content %}
