{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <style type="text/css">
        .center {
            display: block;
            margin-left: 20%;
            margin-right: auto;
        }
        img {
            border: 1px solid #ddd;
            border-radius: 4px;  
            padding: 5px; 
            width: 150px; 
        }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }

        .update-content-section {
            position: relative;
            left: 25%;
            right: 20%;
            background: #ffffff;
            text-align: left;
            padding: 10px 20px;
            border: 2px solid #dddddd;
            border-radius: 3px;
        }
    </style>
    <div class="new-content-section">
        <div class="media">
            <a target="_blank" href="{{user.profile.image.url}}">
              <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
            </a>

            <div class="media-body">
                <h2 font-size:2.0rem;>{{user.username}}</h2>
                <p class="text-secondary"><b>Name:</b> {{user.get_full_name}}</p>
                <p class="text-secondary"><b>Email:</b> {{user.email}}</p>
                <p class="text-secondary"><b>YOP: </b>{{user.profile.yearOfpassing}}</p>
            </div>
        </div>


    </div>
    <br>
    <div class="new-content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <legend class="border-bottom mb-4">Update Profile</legend> 
            <fieldset class="form-group text-left font-weight-bold col-sm-4">    
                {{ form.as_p }}     
            </fieldset>
             
            <div class="form-group text-center">
                <button class="btn btn-outline-primary" type="submit">Update</button>
            </div>
        </form>
    </div>

{% endblock content %}
