body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  

  .bg-steel {
    background-color: #2832c2;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  

  .new-content-section {
    position: relative;
    left: 25%;
    right: 20%;
    background: #ffffff;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid #dddddd;
    border-radius: 3px;
  }

  .old-content-section {
    background: #ffffff;
    text-align: center;
    padding: 20px 40px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .content-section {
    position: relative;
    left: 45%;
    right: 20%;
    background-color: #ffffff;
    width: 60%;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid #dddddd;
    border-radius: 3px;
  }
  
  .article-title {
    color: #444444;
    text-align: center;
  }
  
  .article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-bottom: 3px solid #e3e3e3;
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .page-container {
    position: relative;
    min-height: 56vh;
  }

  footer {  
    position: absolute;
    width: 100%;
    height: 32%;   
    bottom: 0x;
    background-color:  #2832c2;  
    color: white;  
    text-align: center;  
  }
  